body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
  background: #050505;
}

.container {
  width: 2520px;
  height: 1390px;
  /* margin-left: 200px; */
  background: #ffffff;
  /* margin-bottom: 20px; */
}

.foot-container {
  border-top: 1px solid #aaa;
  margin-top: 75px;
  text-align: left;
}

.foot-container * {
 color: #777;
  margin: 0;
  padding: 0;
}

/* ------------Home.jsx(css)------------ */

/* ───────── Header ───────── */

.under-product {
  margin-left: 80px;
}

.header {
  width: 100%;
  height: 50px;
  padding: 30px -10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #555;
  font-size: 14px;
  margin-right: 160px;
  /* border-bottom: 3px solid #aaa; */
}

.hed-left {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 40px;
}
.hed-right{
  width: 20%;
  display:flex;
  padding: 10px;
  gap: 15px;
  justify-content:space-around;
}
.hed-center {
    font-size: 35px;
    display: flex;
    margin-top: -5px;
    margin-left: 10px;
    font-family: 'Noto Sans KR', sans-serif;
}

.search-icon{
  margin-left: 10px;
}
.search-box {
  border-bottom: 1px solid #aaa;
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.search-box input {
  border: none;
  outline: none;
  padding-left: 5px;
  width: 180px;
  background: transparent;
}

.category {
  color: #555;
}

/* ───────── BEST PRODUCT ───────── */

.best-title {
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
    color: #000000;
    margin-right: 0px;
    margin-left: -80px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap:50px;
  width: 2200px;
  margin: 0 auto;
  margin-bottom: -20px;
  margin-left: 82px;
}

.product-card {
  background: #ffffff;
  border: 1px solid #ddd;
  height: 370px;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  margin-bottom: 30px;
  cursor: pointer;          
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;     
  transform-origin: center;
  margin: 0px;
  position: relative;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.under-product .product-img {
  width: 100%;
  height: 300px;
  background: #ffffff;
  border-radius: 4px;
  object-fit: cover;   /* 이미지가 비율 맞게 잘림 */
}
/* 품절표시 */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  color: white;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-name {
  margin-top: 10px;
  font-size: 14px;
  color: #444;
}

.p-price {
  font-size: 13px;
  color: #777;
}

.under-product img {
  width: 350px;
  height: 120px;
}

/* ───────── 슬라이드베너 ───────── */

.wrap {
  margin: 50px auto;
  text-align: center;
}

.slider {
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 0px;
  border: 0px solid #ccc;
  margin-bottom: 20px;
  /* padding: 10px; */
}

.slide-track {
  display: flex;
}

.slide {
  width: 1000px;
  height: 400px;
  flex-shrink: 0;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지 자르지 않고 예쁘게 맞춤 */
  border-radius: 0px;
}

.btn-box button {
  padding: 8px 16px;
  margin: 0 10px;
  border-radius: 8px;
  border: 1px solid #a3a2a2;
  cursor: pointer;
  background: #ffffff;
  color: #a3a2a2;
  font-size: 14px;
}


/* ------------Login.jsx(css)------------ */

.blank-div {
width: 2030px;
height: 1089.58px;
}

.login-div {
width: 900px;
height: 1000px;
background-color: #ffffff;
text-align: center;
display: flex;
margin-top: 90px;
margin-left: 820px;
border-radius: 50px;
flex-direction: column; /* 세로로 배치 */
gap: 100px;   
align-items: center; 
justify-content: center;  
border:5px solid #b9b8b8; /* 두께 / 스타일 / 색상 */
box-shadow: 0 6px 12px rgba(0,0,0,0.1);
border-radius: 10px;
}

.login-div input {
  width: 500px;
  height: 80px;
  font-size: 30px;
  border: none;                 /* 전체 테두리 제거 */
  border-bottom: 2px solid #000; /* 아래선만 */
  outline: none;                /* 클릭 시 파란선 제거 */
}

/* ------------Register.jsx(css)------------ */

.input-box {
  display: flex;
  align-items: center;   /* 세로 가운데 정렬 */
  gap: 30px;             /* 글씨와 인풋 간격 */
}

.input-box input {
  padding: 8px;
  font-size: 16px;
}

.login1-div input {
  width: 500px;
  height: 20px;
  font-size: 30px;
  border: none;                 /* 전체 테두리 제거 */
  border-bottom: 2px solid #000; /* 아래선만 */
  outline: none;                /* 클릭 시 파란선 제거 */
}

.login1-div {
width: 900px;
height: 1000px;
background-color: #ffffff;
text-align: center;
display: flex;
margin-top: 90px;
margin-left: 820px;
border-radius: 30px;
flex-direction: column; /* 세로로 배치 */
gap: 80px;   
align-items: center; 
justify-content: center;    
border:5px solid #b9b8b8; /* 두께 / 스타일 / 색상 */
box-shadow: 0 6px 12px rgba(0,0,0,0.1);
border-radius: 10px;   
}

.input-label {
  font-size: 20px;   /* ← 글씨 크기 */
  font-weight: bold; /*(선택) 굵게 */
}

/* ------------Mypage.jsx(css)------------ */

.container {
  padding: 20px;
  font-family: sans-serif;
}

.add-btn {
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 8px;
  background: #4a79ff;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.cart-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-right: -240px;
}

.cart-card {
  display: flex;
  align-items: center;
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 10px;
  gap: 300px;
  background: #fafafa;

}

/* 상품 이미지 */
.cart-img {
  width: 250px;
  height: 150px;
  border-radius: 8px;
  object-fit: cover;
  border: 1px solid #ccc;
}

/* 공통 블럭 스타일 */
.cart-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  white-space: nowrap;
}

/* 세로 구분선 */
.border-right {
  padding-right: 30px;
  margin-right: 20px;
  border-right: 5px solid #ddd;
}

/* 상품명 */
.cart-name {
  font-size: 20px;
  font-weight: bold;
}

/* 가격 */
.cart-price {
  color: #444;
  font-size: 20px;
}
/* 주문수량 */
.cart-123 {
  color: #444;
  font-size: 20px;
}
/* 배송현황 */
.cart-quick{
  color: #f10909;
  font-size: 20px;
}

.jumun {
  font-size: 20px;
  text-align: center;
}

/* ------------Wishlist.jsx(css)------------ */

.product-grid1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: -20px;
  margin-left: 300px;
  }
  /* -----------category.css---------------- */
   .category-container {
  padding: 20px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.product-card2 {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  background: white;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.product-card2:hover {
  transform: translateY(-5px) scale(1.03); /* ⭐ 위로 살짝 떠오르고 살짝 확대 */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15); /* ⭐ 부드러운 그림자 */
}

.product-card2 img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
/* --------------search.css------------------ */
.search-container {
  padding: 20px;
}

.search-title {
  font-size: 22px;
  margin-bottom: 20px;
}

.search-result-card {
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;
  width: 300px;
  transition: 0.2s ease;
  background: #fff;
}

.search-result-card:hover {
  transform: translateY(-5px) scale(1.03);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.search-result-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
/* --------ad_01 광고영상 .css --------*/
.ad-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* 광고 박스 */
.ad-content {
  position: relative;
  width: 80%;
  max-width: 1800px;
  background: #000;
  border-radius: 12px;
  overflow: hidden;
}

/* 광고 영상 */
.ad-video {
  width: 100%;
  height: auto;
  display: block;
}

/* 광고 닫기 버튼 */
.ad-close-btn {
  width: 100%;
  padding: 15px;
  background: #ff4747;
  color: #fff;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

/* --------주문관리, 상품관리 테이블 .css --------*/

.tbody-t {
  text-align: center;
  border: 1px solid #5b5b5c;
}

.tbody-s {
  height: 50px;
  font-size: 17px;
  text-align: center;
  border: 1px solid #5b5c5b;
}

.select-s {
  width: 100%;
  height: 45px;
  font-size: 17px;
  text-align: center;
  border: 0px solid #ddd;
}

/* --------상품관리 인풋,등등 .css --------*/

.inp {
  height: 25px;
}

.set {
  height: 40px;
}
