body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  background: #ffffff;
}

.container {
  width: 100%;
  margin-left: 200px;
  background: #e2e2e2;
  margin-bottom: 20px;
}

/* ───────── Header ───────── */

.under-product {
  margin-left: 80px;
}

.header {
  width: 100%;
  height: 50px;
  padding: 30px -10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #555;
  font-size: 14px;
  margin-right: 160px;
  border-bottom: 3px solid #aaa;
}

.hed-left {
  display: flex;
  align-items: center;
  gap: 20px;
}
.hed-right{
  width: 20%;
  display:flex;
  padding: 10px;
  gap: 15px;
  justify-content:space-around;
}
.hed-center {
    font-size: 20px;
    display: flex;
    margin-top: -5px;
    font-family: 'Noto Sans KR', sans-serif;
}
.search-icon{
  margin-left: 10px;
}
.search-box {
  border-bottom: 1px solid #aaa;
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.search-box input {
  border: none;
  outline: none;
  padding-left: 5px;
  width: 180px;
  background: transparent;
}

.category {
  color: #555;
}

/* ───────── BEST PRODUCT ───────── */

.best-title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
    color: #777;
    margin-right: 50px;
    margin-left: 0px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: -20px;
  margin-left: 80px;
}

.product-card {
  background: #f4f4f4;
  height: 180px;
  border-radius: 4px;
  padding: 15px;
  text-align: center;
  margin-bottom: 20px;
}

.product-img {
  width: 100%;
  height: 100px;
  background: #e2e2e2;
  border-radius: 4px;
}

.p-name {
  margin-top: 10px;
  font-size: 14px;
  color: #444;
}

.p-price {
  font-size: 13px;
  color: #777;
}

/* ───────── 슬라이드베너 ───────── */

.banner {
  text-align: center;
}

.banner img {
  width: 1300px;
  height: 405px;
  margin-left: -100px;
  margin-right: -100px;
}