body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  background: #fafafa;
}

.container {
  width: 100%;
}

/* ───────── Header ───────── */

.header {
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #555;
  font-size: 14px;
}

.hed-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hed-center {
    font-size: 20px;
    display: flex;
    margin-top: -5px;
    font-family: 'Noto Sans KR', sans-serif;
}

.search-box {
  border-bottom: 1px solid #aaa;
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.search-box input {
  border: none;
  outline: none;
  padding-left: 5px;
  width: 180px;
  background: transparent;
}

.category {
  color: #555;
}

/* ───────── BEST PRODUCT ───────── */

.best-title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    color: #777;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  width: 80%;
  margin: 0 auto;
}

.product-card {
  background: #f4f4f4;
  height: 180px;
  border-radius: 4px;
  padding: 15px;
  text-align: center;
}

.product-img {
  width: 100%;
  height: 100px;
  background: #e2e2e2;
  border-radius: 4px;
}

.p-name {
  margin-top: 10px;
  font-size: 14px;
  color: #444;
}

.p-price {
  font-size: 13px;
  color: #777;
}