body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  background: #ffffff;
}

.container {
  width: 100%;
  margin-left: 200px;
  background: #e2e2e2;
  margin-bottom: 20px;
}

/* ------------Home.jsx(css)------------ */

/* ───────── Header ───────── */

.under-product {
  margin-left: 80px;
}

.header {
  width: 100%;
  height: 50px;
  padding: 30px -10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #555;
  font-size: 14px;
  margin-right: 160px;
  border-bottom: 3px solid #aaa;
}

.hed-left {
  display: flex;
  align-items: center;
  gap: 20px;
}
.hed-right{
  width: 20%;
  display:flex;
  padding: 10px;
  gap: 15px;
  justify-content:space-around;
}
.hed-center {
    font-size: 20px;
    display: flex;
    margin-top: -5px;
    font-family: 'Noto Sans KR', sans-serif;
}
.search-icon{
  margin-left: 10px;
}
.search-box {
  border-bottom: 1px solid #aaa;
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.search-box input {
  border: none;
  outline: none;
  padding-left: 5px;
  width: 180px;
  background: transparent;
}

.category {
  color: #555;
}

/* ───────── BEST PRODUCT ───────── */

.best-title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
    color: #777;
    margin-right: 50px;
    margin-left: 0px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: -20px;
  margin-left: 80px;
}

.product-card {
  background: #f4f4f4;
  height: 180px;
  border-radius: 4px;
  padding: 15px;
  text-align: center;
  margin-bottom: 20px;
}

.product-img {
  width: 100%;
  height: 100px;
  background: #e2e2e2;
  border-radius: 4px;
}

.p-name {
  margin-top: 10px;
  font-size: 14px;
  color: #444;
}

.p-price {
  font-size: 13px;
  color: #777;
}

.under-product img {
  width: 350px;
  height: 120px;
}

/* ───────── 슬라이드베너 ───────── */

.wrap {
  width: 300px;
  margin: 40px auto;
  text-align: center;
  margin-left: 500px;

}

.slider {
  width: 1000px;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.slide-track {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: 1000px;
  height: 400px;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지 자르지 않고 예쁘게 맞춤 */
  border-radius: 10px;
}

.btn-box button {
  padding: 8px 16px;
  margin: 0 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #4d7cff;
  color: #fff;
  font-size: 14px;
}


/* ------------Login.jsx(css)------------ */

.blank-div {
width: 2030px;
height: 1089.58px;
}

.login-div {
width: 900px;
height: 1000px;
background-color: #ffffff;
text-align: center;
display: flex;
margin-top: 90px;
margin-left: 650px;
border-radius: 30px;
flex-direction: column; /* 세로로 배치 */
gap: 100px;   
align-items: center; 
justify-content: center;       
}

.login-div input {
  width: 500px;
  height: 80px;
  font-size: 30px;
  border: none;                 /* 전체 테두리 제거 */
  border-bottom: 2px solid #000; /* 아래선만 */
  outline: none;                /* 클릭 시 파란선 제거 */
}

/* ------------Register.jsx(css)------------ */

.input-box {
  display: flex;
  align-items: center;   /* 세로 가운데 정렬 */
  gap: 30px;             /* 글씨와 인풋 간격 */
}

.input-box input {
  padding: 8px;
  font-size: 16px;
}

.login1-div input {
  width: 500px;
  height: 20px;
  font-size: 30px;
  border: none;                 /* 전체 테두리 제거 */
  border-bottom: 2px solid #000; /* 아래선만 */
  outline: none;                /* 클릭 시 파란선 제거 */
}

.login1-div {
width: 900px;
height: 1000px;
background-color: #ffffff;
text-align: center;
display: flex;
margin-top: 90px;
margin-left: 650px;
border-radius: 30px;
flex-direction: column; /* 세로로 배치 */
gap: 80px;   
align-items: center; 
justify-content: center;       
}

.input-label {
  font-size: 20px;   /* ← 글씨 크기 */
  font-weight: bold; /*(선택) 굵게 */
}

/* ------------Mypage.jsx(css)------------ */

.container {
  padding: 20px;
  font-family: sans-serif;
}

.add-btn {
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 8px;
  background: #4a79ff;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.cart-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-right: -240px;
}

.cart-card {
  display: flex;
  align-items: center;
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 10px;
  gap: 300px;
  background: #fafafa;

}

/* 상품 이미지 */
.cart-img {
  width: 250px;
  height: 150px;
  border-radius: 8px;
  object-fit: cover;
  border: 1px solid #ccc;
}

/* 공통 블럭 스타일 */
.cart-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  white-space: nowrap;
}

/* 세로 구분선 */
.border-right {
  padding-right: 30px;
  margin-right: 20px;
  border-right: 5px solid #ddd;
}

/* 상품명 */
.cart-name {
  font-size: 20px;
  font-weight: bold;
}

/* 가격 */
.cart-price {
  color: #444;
  font-size: 20px;
}
/* 주문수량 */
.cart-123 {
  color: #444;
  font-size: 20px;
}
/* 배송현황 */
.cart-quick{
  color: #f10909;
  font-size: 20px;
}

.jumun {
  font-size: 20px;
  text-align: center;
}

/* ------------Wishlist.jsx(css)------------ */

.product-grid1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: -20px;
  margin-left: 300px;
  }